<div class="no-gutters row product-template-wrapper">
    <div class="col-md-6">
        <div class="product__page-main-img">
            <img class=""
                 src="{{ product.images[0] | image_url }}"
                 alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="product__textbox">
            <h1 class="product__textbox-main-title">
                {{ product.title }}
            </h1>
            <div class="product__textbox-price">
                {{ product.price | money }}
            </div>
            <div class="product__textbox-options-wrapper">
                <div class="d-flex product__textbox-option">
                    <img src="https://cdn.shopify.com/s/files/1/0625/6325/4526/products/assault-blk-front-angle2-1600x1600-300dpi6_1024x1024@2x.png?v=1644124957"
                         alt="">
                    <span>pay as low as 56/mo Learn More</span>
                </div>
            </div>
            <div class="product__textbox-description">
                {{ product.description }}
            </div>
            <div class="product__textbox-selection-wrapper">
                {% unless product.has_only_default_variant %}
                    <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js product-select">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}" data-price="{{ variant.price | money }}"
                                    {%- if variant == current_variant %} selected="selected" {%- endif -%}
                            >
                                {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            </option>
                        {% endfor %}
                    </select>

                    <div class="product__textbox-options">
                        {% for option in product.options_with_values %}
                            <div data-id="SingleOptionSelector-{{ forloop.index0 }}" class="product__option-wrapper js-option-selectors">
                                {% for value in option.values %}
                                    <label class="{% if option.selected_value == value %}selected{% endif %}"
                                           data-value="{{ value | escape }}"> {{ value | escape }} </label>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endunless %}


            </div>

            <div class="product__textbox-terms">
                Available for {{ product.metafields.shipping.shipping }}
            </div>

            <div class="product__textbox-order-btn">
                <button class="default-button fill-button js-add-to-cart-btn" type="button">
                    Add to Cart
                </button>
            </div>


            <div class="product__textbox-additional">
                <div class="product__textbox-additional-title">
                    Frequently bought with
                </div>
                {% assign productsLinks = product.metafields.accentuate.related_products | split: '|' %}
                <div class="product__textbox-additional-items row">
                    {% for productName in  productsLinks limit:2 %}
                        <a href="{{ all_products[productName].url }}" class="product__textbox-additional-item d-flex col-md-6">
                            <div class="product__textbox-additional-item-img-wrap">
                                <img src="{{ all_products[productName].images[0] | image_url }}"
                                     alt="">
                            </div>
                            <div class="product__textbox-additional-item-textbox">
                                <div class="product__textbox-additional-item-title">
                                    {{ all_products[productName].title }}
                                </div>
                                <a class="product__textbox-additional-add-to-card-btn">
                                    Add to Cart
                                </a>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
