<div class="product-template__container page-width"
     id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}"
     data-section-type="product"
     data-enable-history-state="true"
     data-ajax-enabled="{{ settings.enable_ajax }}"
>
<div class="no-gutters row product-template-wrapper">
  <div class="col-md-6">
    <div class="product__page-main-img">
      <img class=""
           src="https://cdn.shopify.com/s/files/1/0625/6325/4526/products/assault-blk-front-angle2-1600x1600-300dpi6_1024x1024@2x.png?v=1644124957"
           alt="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="product__textbox">
      <h1 class="product__textbox-main-title">
        {{ product.title }}
      </h1>
      <div class="product__textbox-price">
        {%- liquid
          if settings.currency_code_enabled
            assign money_price = price | money_with_currency
          else
            assign money_price = price | money
          endif
        -%}
        {{ money_price }}
      </div>
      <div class="product__textbox-options-wrapper">
        <div class="d-flex product__textbox-option">
          <img src="https://cdn.shopify.com/s/files/1/0625/6325/4526/products/assault-blk-front-angle2-1600x1600-300dpi6_1024x1024@2x.png?v=1644124957"
               alt="">
          <span>pay as low as 56/mo Learn More</span>
        </div>
      </div>
      <div class="product__textbox-description">
        {{ product.description }}
      </div>
      <div class="product__textbox-selection-wrapper">
        {% unless product.has_only_default_variant %}
          <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%}
              >
                {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              </option>
            {% endfor %}
          </select>

          <div class="product__textbox-options">
            {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                            id="SingleOptionSelector-{{ forloop.index0 }}"
                            data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}
            {% for option in product.options_with_values %}
              <div class="product__option-wrapper">
                {% for value in option.values %}
                  <label data-id="SingleOptionSelector-{{ forloop.index0 }}" class="{% if option.selected_value == value %}selected{% endif %}"
                         data-value="{{ value | escape }}"> {{ value | escape }} </label>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endunless %}


      </div>

      <div class="product__textbox-terms">
        Available for Free shipping!
      </div>

      <div class="product__textbox-order-btn">
        <button class="default-button fill-button" type="button">
          Add to Cart
        </button>
      </div>


      <div class="product__textbox-additional">
        <div class="product__textbox-additional-title">
          Frequently bought with
        </div>
        <div class="product__textbox-additional-items row">
          <div class="product__textbox-additional-item d-flex col-md-6">
            <div class="product__textbox-additional-item-img-wrap">
              <img src="https://cdn.shopify.com/s/files/1/0625/6325/4526/products/assault-blk-front-angle2-1600x1600-300dpi6_1024x1024@2x.png?v=1644124957"
                   alt="">
            </div>
            <div class="product__textbox-additional-item-textbox">
              <div class="product__textbox-additional-item-title">
                Product Name
              </div>
              <a class="product__textbox-additional-add-to-card-btn">
                Add to Cart
              </a>
            </div>
          </div>
          <div class="product__textbox-additional-item d-flex col-md-6">
            <div class="product__textbox-additional-item-img-wrap">
              <img src="https://cdn.shopify.com/s/files/1/0625/6325/4526/products/assault-blk-front-angle2-1600x1600-300dpi6_1024x1024@2x.png?v=1644124957"
                   alt="">
            </div>
            <div class="product__textbox-additional-item-textbox">
              <div class="product__textbox-additional-item-title">
                Product Name
              </div>
              <a class="product__textbox-additional-add-to-card-btn">
                Add to Cart
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "en": "Product pages"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "en": "Show quantity selector"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show vendor"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "en": "Show dynamic checkout button"
      },
      "info": {
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "en": "Show social sharing buttons"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Media"
      },
      "info": {
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "select",
      "id": "media_size",
      "label": {
        "en": "Size"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "en": "Small"
          }
        },
        {
          "value": "medium",
          "label": {
            "en": "Medium"
          }
        },
        {
          "value": "large",
          "label": {
            "en": "Large"
          }
        },
        {
          "value": "full",
          "label": {
            "en": "Full-width"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": {
        "en": "Enable image zoom"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "en": "Enable video looping"
      },
      "default": false
    }
  ]
}
{% endschema %}
